* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}

h1 {
  font-size: 35px;
  font-weight: 700;
  margin: 20px;
  color: #474747; 
}
h3 {
  font-size: 25px;
  font-weight: 700;
  color:#051985 ;
}

a {
  text-decoration: none;
  color: unset;
  font-size: 15px;
  font-weight: 400;
}

/*Inicio Secretaria de Saude*/
.block-principal {
  height: 100%;
  background-color: #dcf4ff;
}

.container {
  width: 100%;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.card {
  width: 600px;
  height: 450px;
  background-color: rgb(222, 222, 222);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  margin: 27px;
  text-align: center;
  border: solid #04048a 2px;
}

.card img {
  width: 100%;
  height: 300px;
  align-items: center;
  border-radius: 6px 6px 0 0;
}

.principal-name {
  margin: 15px 0 35px 0;
}

.btn {
  width: 150px;
  height: 30px;
  background-color: #7db8fa;
  color : white;
  font-size: 14px;
  font-weight: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: solid #04048a 2px;
  margin-bottom: 20px;
}
/*Fim Secretaria de Saude*/


/*Inicio Atençaõ Basica*/
.secondary-block {
  height: 100%;
  background-color: #ace5ff;
}

.secondary-container {
  width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.secondary-card {
  width: 375px;
  height: 400px;
  background-color: rgb(222, 222, 222);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  margin: 20px 0 30px 60px;
  text-align: center;
  border: solid #04048a 2px;
}

.secondary-card img {
  width: 100%;
  height: 250px;
  align-items: center;
  border-radius: 6px 6px 0 0;
}

.real-name {
  margin-top: 15px;
}

.name {
  margin-bottom: 15px;
}
/*Fim Atençaõ Basica*/

/*Inicio Media Complexiade*/
.tertiary-block {
  height: 100%;
  background-color: #dcf4ff;
}

.tertiary-container {
  width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
/*Fim Media Complexidade*/


@media(min-width: 320px) {

  h1 {
    font-size: 25px;
  }
  
  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }
  
  .container {
    width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  
  .card {
    width: 300px;
    height: 250px;
    background-color: rgb(222, 222, 222);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    margin: 27px;
    text-align: center;
    border: solid #04048a 2px;
  }
  
  .card img {
    width: 100%;
    height: 150px;
    align-items: center;
    border-radius: 6px 6px 0 0;
  }
/**/

.real-name {
  display: none;
}

.secondary-card {
  width: 300px;
  height: 250px;
  background-color: rgb(222, 222, 222);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  margin: 20px 0 30px 60px;
  text-align: center;
  border: solid #04048a 2px;
}

.secondary-card img {
  width: 100%;
  height: 150px;
  align-items: center;
  border-radius: 6px 6px 0 0;
}

.secondary-container {
  margin: 0;
}
}
